*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
*.idea

# IntelliJ
/.idea/
/.idea/tasks.xml
/.idea/gradle.xml
/.idea/dictionaries
/.idea/codeStyles
.idea/tasks.xml
.idea/gradle.xml